* {
  box-sizing: border-box;
}

body {
  position: absolute;
  top: 25%;
  left: 30%;

  font-family: "IBM Plex Sans", sans-serif;
  width: 600px;
  height: 930px;
  /* outline: 1px solid tomato; */
}

fieldset {
  border: 1px dashed #7b61ff;
  border-radius: 5px;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* identical to box height, or 24px */

  letter-spacing: 0.01em;

  /* Text / Secondary - Grey2 */

  color: #6f7482;
}

.error-message {
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #ed0131;
}

.success-message {
  display: none;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: #0e6245;
}

input[type="email"] {
  margin-bottom: 2px;
  padding: 10px;

  width: 460px;
  height: 48px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  align-items: center;
  letter-spacing: 0.01em;

  color: #3b4256;

  background-color: #f8fafc;
  border-radius: 4px;
  border-color: transparent;
}

input[type="email"]:focus {
  outline: 1px solid #0048d9;
}

input[type="email"]:invalid {
  outline: 1px solid #ed0131;
}

input[type="email"]:valid {
  outline: 1px solid #0e6245;
}

input[type="email"]:valid ~ .error-message {
  display: none;
}

input[type="email"]:valid ~ .success-message {
  display: block;
}

input[type="email"]::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;
}

textarea {
  margin-bottom: 25px;
  padding: 10px;
  width: 460px;
  height: 163px;

  font-weight: 400;
  font-size: 16px;
  line-height: 143%;

  color: #3b4256;

  background: #f8fafc;
  border-radius: 4px;
  border-color: transparent;
}

textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 143%;

  color: #b8bcca;
}

textarea:focus {
  outline: 1px solid #0048d9;
}

select {
  margin-bottom: 25px;

  padding-top: 12px;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 48px;

  width: 460px;
  height: 48px;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: 0.01em;

  color: #3b4256;

  background: #f8fafc;
  border-radius: 4px;
  border-color: transparent;
}

select:focus {
  outline: 1px solid #0048d9;
}

input[type="submit"] {
  padding: 4px 16px;
  height: 32px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #ffffff;

  background-color: #0048d9;
  border-radius: 6px;
  border-color: transparent;
}

input[type="submit"]:hover {
  background-color: #002266;
}
